@import url('https://fonts.googleapis.com/css?family=Roboto:400');

body {
  background-color: #2A2A2A;
  font-family: "Roboto";
  color: white;
  margin: 0em;
}

/* Content, 5% from left & right */
.content {
  padding-left: 5%;
  padding-right: 5%;
}

/* Cards */
.card {
  border-radius: 6px;
  background-color: #212121;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
}

.textonly {
	font-family: "Roboto";
  	border-width: 0px;
  	background-color: rgba(0,0,0,0);
  	color: whitesmoke;
}

button {
	font-family: "Roboto";
  	background-color: rgba(0,0,0,0);
  	border-radius: 5px;
  	color: white;
}

button .primary {
  	font-weight: bold;
  	border-color: lightblue;
}

.darklink {
	color: white;
}
