body {
  background-color: #191919;
  margin: 0em;
  color: whitesmoke;
}

#card {
	max-width: 90%;
	color: whitesmoke;
	position: fixed;
	left: 5%;
	right: 5%;
}

.textonly {
  border-width: 0px;
  background-color: rgba(0,0,0,0);
  color: whitesmoke;
}

button {
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
  color: white;
}

button .primary {
  font-weight: bold;
  border-color: lightblue;
}

.darklink {
	color: white;
}
