@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
	font-family: "Roboto";
  	background-color: #191919;
  	margin: 0em;
  	color: whitesmoke;
}

#card {
	max-width: 90%;
	color: whitesmoke;
	position: fixed;
	left: 5%;
	right: 5%;
}

.textonly {
	font-family: "Roboto";
  	border-width: 0px;
  	background-color: rgba(0,0,0,0);
  	color: whitesmoke;
}

button {
	font-family: "Roboto";
  	background-color: rgba(0,0,0,0);
  	border-radius: 5px;
  	color: white;
}

button .primary {
  	font-weight: bold;
  	border-color: lightblue;
}

.darklink {
	color: white;
}
